
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 120
ktlint_code_style = ktlint_official
ktlint_standard = enabled
ktlint_experimental = enabled

ktlint_ignore_back_ticked_identifier = true

ij_kotlin_name_count_to_use_star_import = 1234567
ij_kotlin_name_count_to_use_star_import_for_members = 1234567

ij_kotlin_packages_to_use_import_on_demand = unset
